<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <mat-card class="pagecontainer">
                    <div class="container text-center">
                        <img src="../../../assets/logo.png" alt="">
                    </div>
                    <h3 class="text-center">Login Here</h3>
                    <form class="text-center">
                        <!-- username field -->
                        <div>
                            <mat-form-field class="full-width">
                                <mat-label>Username</mat-label>
                                <input name="username" type="text" placeholder="Enter Here" matInput required>
                            </mat-form-field>
                        </div>

                        <!-- password field-->
                        <div>
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Enter your password</mat-label>
                                <input name="password" type="password" placeholder="Enter Here" matInput required>
                            </mat-form-field>
                        </div>

                        <div class="container text-center">
                            <button class="btn" mat-raised-button color="primary">Submit</button>
                            <button class="btn" mat-raised-button color="primary">Reset</button>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>